/*-------------
NAVBAR 
-------------*/

/*-------------
CONTAINER 
-------------*/
body{
    padding-top: 50px;
    font-family: "Arial Black", Gadget, sans-serif   
}

#about::before {
    content: "";
    display: block;
    height: 50px;
    margin: -50px 0 0;
}

#portfolio::before {
    content: "";
    display: block;
    height: 50px;
    margin: -50px 0 0;
}
#myPolaroid {
    margin-top: 4em;
    -webkit-transform: rotate(-2deg);
    -moz-transform: rotate(-2deg);
    
    
    /* Add drop shadows and smooth out the transition (Safari only) */
    -webkit-transition: -webkit-transform .15s linear;
    -webkit-box-shadow: 0 3px 6px rgba(0,0,0,.25);
    -moz-box-shadow: 0 3px 6px rgba(0,0,0,.25);
    /* On hover, darken the shadows a bit */
    -webkit-box-shadow: 0 3px 6px rgba(0,0,0,.5);
    -moz-box-shadow: 0 3px 6px rgba(0,0,0,.5);

    color:black;
    font-family: "Arial Black", Gadget, sans-serif    
}

#myPolaroid:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    position: relative;
    z-index: 5;
}

/* .container-content{
    background-color: #ffffff;
    border: #dddddd;   
} */


.headerTeal {
    color: #4aaaa5;
}

.contentHeader {
    border-bottom: 2px solid #dddddd;
}

.aboutMeContent {
    line-height: 3rem;
    font-family: Arial, Helvetica, sans-serif;
}


/*-------------
Font Awesome - Social Media Icons
-------------*/
.fa {
    
    padding: 1em 1em 1em 1em;
    width: 3em;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-linkedin {
    background: #007bb5;
    color: white;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

/*-------------
Images
-------------*/
.parallaxBgImg {
    background-image: url("../images/Img1.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    position: relative;
    opacity: 0.9;
}
.profile-pic {
    max-width: 100%;
    height: 20em;
}

.glyphicon {
    margin-right: .7em;
}

.portfolio-image {
    max-height: 500px;
}

/*-------------
Footer
-------------*/

footer {
    margin-top: 2em;
    border-top: 5px solid #4aaaa5;
    padding: 30px 0 10px 0;
    color: #ffffff;   
}

#contact {
    margin:auto;
}

/*-------------
MediaQueries
-------------*/

/* 
@media only screen and (min-width: 768px) {
    #profile-pic {
        float: left;
        margin: 1rem 3rem auto auto; 
    }

} */

@media only screen and (max-device-width: 1024px) {
    .parallax {
        background-attachment: scroll;
    }
}

@media only screen and (min-device-width: 1024px) {
    #myPolaroid {
        width: 30em;
    }
}
