/*-------------
NAVBAR 
-------------*/
.navbar-brand {
    background-color: #4aaaa5;
    
}

.nav-link {
    border-right: 2px solid #cccccc;
}

/*-------------
CONTAINER 
-------------*/
.container {
    padding-left: 0;
}
.container-content{
    background-color: #ffffff;
    border: #dddddd;
    padding-left: 10px;
    
}

.col{
    margin-bottom: 10px;
}
form {
    padding-bottom: 10px;
}
#profile-pic {
    width: 150px;
    height: 150px;
    margin: 0 auto;
    display: block;
    
}


h1 {
    border-bottom: 2px solid #dddddd;
    color: #4aaaa5;
}

p{
    line-height: 3rem;
}

body {
    background-image: url("../images/dust_scratches/dust_scratches.png");
    background-attachment: fixed;
    background-size: cover;
    overflow: auto; 
    
}


a {
    color:white;
}

footer {
    margin-top: 20em;
    background-color: #666666;
    border-top: 5px solid #4aaaa5;
    padding: 30px 0 10px 0;
    color: #ffffff;   
}

@media only screen and (min-width: 768px) {
    #profile-pic {
        float: left;
        margin: 1rem 3rem auto auto; 
    }

}